/** @define utilities */

.u-mt1 {
  margin-top: .125rem !important;
}

.u-mt2 {
  margin-top: .25rem !important;
}

.u-mt3 {
  margin-top: .5rem !important;
}

.u-mt4 {
  margin-top: 1rem !important;
}

.u-mt5 {
  margin-top: 1.5rem !important;
}

.u-mt6 {
  margin-top: 2rem !important;
}

.u-mt7 {
  margin-top: 3rem !important;
}

.u-mt8 {
  margin-top: 4rem !important;
}

/** @define utilities */

.u-mr1 {
  margin-right: .125rem !important;
}

.u-mr2 {
  margin-right: .25rem !important;
}

.u-mr3 {
  margin-right: .5rem !important;
}

.u-mr4 {
  margin-right: 1rem !important;
}

.u-mr5 {
  margin-right: 1.5rem !important;
}

.u-mr6 {
  margin-right: 2rem !important;
}

.u-mr7 {
  margin-right: 3rem !important;
}

.u-mr8 {
  margin-right: 4rem !important;
}

.u-mrAuto {
  margin-right: auto !important;
}

/** @define utilities */

.u-mb1 {
  margin-bottom: .125rem !important;
}

.u-mb2 {
  margin-bottom: .25rem !important;
}

.u-mb3 {
  margin-bottom: .5rem !important;
}

.u-mb4 {
  margin-bottom: 1rem !important;
}

.u-mb5 {
  margin-bottom: 1.5rem !important;
}

.u-mb6 {
  margin-bottom: 2rem !important;
}

.u-mb7 {
  margin-bottom: 3rem !important;
}

.u-mb8 {
  margin-bottom: 4rem !important;
}

/** @define utilities */

.u-ml1 {
  margin-left: .125rem !important;
}

.u-ml2 {
  margin-left: .25rem !important;
}

.u-ml3 {
  margin-left: .5rem !important;
}

.u-ml4 {
  margin-left: 1rem !important;
}

.u-ml5 {
  margin-left: 1.5rem !important;
}

.u-ml6 {
  margin-left: 2rem !important;
}

.u-ml7 {
  margin-left: 3rem !important;
}

.u-ml8 {
  margin-left: 4rem !important;
}

.u-mlAuto {
  margin-left: auto !important;
}

/** @define utilities */

.u-mh1 {
  margin-right: .125rem !important;
  margin-left: .125rem !important;
}

.u-mh2 {
  margin-right: .25rem !important;
  margin-left: .25rem !important;
}

.u-mh3 {
  margin-right: .5rem !important;
  margin-left: .5rem !important;
}

.u-mh4 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.u-mh5 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.u-mh6 {
  margin-right: 2rem !important;
  margin-left: 2rem !important;
}

.u-mh7 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

.u-mh8 {
  margin-right: 4rem !important;
  margin-left: 4rem !important;
}

.u-mhAuto {
  margin-right: auto !important;
  margin-left: auto !important;
}

/** @define utilities */

.u-mv1 {
  margin-top: .125rem !important;
  margin-bottom: .125rem !important;
}

.u-mv2 {
  margin-top: .25rem !important;
  margin-bottom: .25rem !important;
}

.u-mv3 {
  margin-top: .5rem !important;
  margin-bottom: .5rem !important;
}

.u-mv4 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.u-mv5 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.u-mv6 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.u-mv7 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.u-mv8 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

/*# sourceMappingURL=index.css.map */
